<h1>Data Visualization</h1>
Setelah tahap persiapan selesai, kita akan masuk ke tahap pembuatan visualisasi data serta melakukan explanatory analysis. Seperti yang telah dibahas sebelumnya, pada tahap ini kita akan fokus menjawab berbagai pertanyaan bisnis yang sebelumnya telah kita buat.

Pada materi Latihan Exploratory Data Analysis, kita telah mendefinisikan beberapa pertanyaan bisnis seperti berikut.

- Bagaimana performa penjualan dan revenue perusahaan dalam beberapa bulan terakhir?
- Produk apa yang paling banyak dan paling sedikit terjual?
- Bagaimana demografi pelanggan yang kita miliki?
- Kapan terakhir pelanggan melakukan transaksi?
- Seberapa sering seorang pelanggan melakukan pembelian dalam beberapa bulan terakhir?
- Berapa banyak uang yang dihabiskan pelanggan dalam beberapa bulan terakhir?

<h2>Bagaimana Performa Penjualan dan Revenue Perusahaan dalam Beberapa Bulan Terakhir?</h2>

Seperti biasa, library tercinta kita yaitu pandas telah menyediakan sebuah method bernama resample(). Method ini memungkinkan kita untuk mengubah frekuensi atau melakukan resampling terhadap DataFrame yang memiliki komponen time series. Untuk menggunakan method ini, kita harus mendefinisikan parameter rule (mengatur target konversi) dan on (nama kolom bertipe datetime yang akan diubah frekuensinya). Selengkapnya, Anda dapat membaca dokumentasi berikut: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.resample.html.

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

all_df = pd.read_csv('all.csv')
all_df.head()

,sales_id,order_id,product_id,price_per_unit,quantity_x,total_price,product_type,product_name,size,colour,...,customer_name,gender,age,home_address,zip_code,city,state,country,status,age_group
0,0,1,218,106,2,212,Shirt,Chambray,L,orange,...,fulan 64,Prefer not to say,75,4927 Alice MeadowApt. 960,7787,Sanfordborough,South Australia,Australia,Active,Seniors
1,1,1,481,118,1,118,Jacket,Puffer,S,indigo,...,fulan 64,Prefer not to say,75,4927 Alice MeadowApt. 960,7787,Sanfordborough,South Australia,Australia,Active,Seniors
2,2,1,2,96,3,288,Shirt,Oxford Cloth,M,red,...,fulan 64,Prefer not to say,75,4927 Alice MeadowApt. 960,7787,Sanfordborough,South Australia,Australia,Active,Seniors
3,3,1,1002,106,2,212,Trousers,Wool,M,blue,...,fulan 64,Prefer not to say,75,4927 Alice MeadowApt. 960,7787,Sanfordborough,South Australia,Australia,Active,Seniors
4,4,1,691,113,3,339,Jacket,Parka,S,indigo,...,fulan 64,Prefer not to say,75,4927 Alice MeadowApt. 960,7787,Sanfordborough,South Australia,Australia,Active,Seniors

In [ ]:
datetime_columns = ["order_date", "delivery_date"]
 
for column in datetime_columns:
  all_df[column] = pd.to_datetime(all_df[column])

all_df.info()

In [8]:
all_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 28 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sales_id        5000 non-null   int64
 1   order_id        5000 non-null   int64
 2   product_id      5000 non-null   int64
 3   price_per_unit  5000 non-null   int64
 4   quantity_x      5000 non-null   int64
 5   total_price     5000 non-null   int64
 6   product_type    5000 non-null   object
 7   product_name    5000 non-null   object
 8   size            5000 non-null   object
 9   colour          5000 non-null   object
 10  price           5000 non-null   int64
 11  quantity_y      5000 non-null   int64
 12  description     5000 non-null   object
 13  customer_id     5000 non-null   int64
 14  payment         5000 non-null   int64
 15  order_date      5000 non-null   object
 16  delivery_date   5000 non-null   object
 17  delivery_time   5000 non-null   float64
 18  customer_name   5000 non-null   object
 19  gender          5000 non-null   object
 20  age             5000 non-null   int64
 21  home_address    5000 non-null   object
 22  zip_code        5000 non-null   int64
 23  city            5000 non-null   object
 24  state           5000 non-null   object
 25  country         5000 non-null   object
 26  status          5000 non-null   object
 27  age_group       5000 non-null   object
dtypes: float64(1), int64(12), object(15)
memory usage: 1.1+ MB

In [4]:
monthly_orders_df = all_df.resample(rule='M', on='order_date').agg({
    "order_id": "nunique",
    "total_price": "sum"
})
monthly_orders_df.index = monthly_orders_df.index.strftime('%Y-%m')
monthly_orders_df = monthly_orders_df.reset_index()
monthly_orders_df.rename(columns={
    "order_id": "order_count",
    "total_price": "revenue"
}, inplace=True)
monthly_orders_df.head()

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'Index'